.Sponsors {
  width: 100%;
  background: #25262a;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 50px 150px;
}
@media (max-width: 1024px) {
  .Sponsors {
    padding: 50px 80px;
  }
}
@media (max-width: 768px) {
  .Sponsors {
    gap: 3rem;
  }
}
